.header {
  position: relative;
  padding-block: 15px;
  border-bottom: var(--border-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;

    h1 {
      font-weight: 700;
      font-size: 28px;
      color: var(--color-text-blue);
      text-shadow: 0 0 20px var(--color-white);
    }
  }

  .tools-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    $h-size: 40px;

    .search-bar {
      height: $h-size;
      width: $h-size;
      border-radius: $h-size;
      background: none;
      transition: var(--transition-duration);
      padding-left: $h-size;
      font-size: 20px;
      color: var(--color-text-blue);
      overflow: hidden;

      &_active {
        background: var(--color-white);
        width: 500px;
        padding-inline: 54px 12px;
      }
    }

    .location-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: $h-size;
      height: $h-size;
      background: none;
      border-radius: 50%;

      svg {
        height: 100%;
        width: 100%;
        transition: var(--transition-duration);

        * {
          transition: var(--transition-duration);
        }
      }
    }

    .init {
      animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 #056ca099;
      }
      75% {
        box-shadow: 0 0 0 12px var(--color-tr);
      }
    }

    .settings-btn {
      height: $h-size;
      width: $h-size;
      margin-inline: 20px 10px;
      background: none;
      border-radius: 50%;

      svg,
      svg > * {
        transition: var(--transition-duration);
      }
    }

    .loc-active svg,
    .set-active svg {
      scale: 1.1;
      filter: drop-shadow(0 0 4px var(--color-white));
    }

    .loc-active svg {
      path {
        fill: var(--color-text-blue);
        fill-opacity: 1;
        transform-origin: center;
        transition-delay: var(--transition-duration);
        transform: rotateY(180deg);
      }
      circle {
        stroke: var(--color-text-blue);
        stroke-opacity: 1;
      }
    }

    .set-active svg {
      transform: rotateZ(180deg);
      * {
        stroke: var(--color-text-blue);
        stroke-opacity: 1;
      }
    }
  }
}

@media (hover: hover) {
  .header {
    .tools-wrapper {
      .location-btn svg:hover {
        filter: drop-shadow(0 0 4px #fff);
        path {
          fill: var(--color-text-blue);
          fill-opacity: 1;
        }
        circle {
          stroke: var(--color-text-blue);
          stroke-opacity: 1;
        }
      }

      .settings-btn svg:hover {
        filter: drop-shadow(0 0 4px #fff);
        * {
          stroke: var(--color-text-blue);
          stroke-opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .header {
    .tools-wrapper {
      .search-bar {
        &_active {
          width: 270px;
        }
      }
    }
  }
}

@media screen and (max-width: 776px) {
  .header {
    .logo-wrapper {
      h1 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-block: var(--pad-m);

    .logo-wrapper {
      img {
        height: 40px;
        width: auto;
      }
    }

    .tools-wrapper {
      $h-size: 32px;

      .search-bar {
        height: $h-size;
        width: $h-size;
        border-radius: $h-size;
        padding-left: $h-size;
        font-size: 14px;

        &_active {
          width: 190px;
          padding-left: 42px;
        }
      }

      .location-btn {
        width: $h-size;
        height: $h-size;
      }

      .settings-btn {
        height: $h-size;
        width: $h-size;
        margin-inline: 12px 6px;
      }
    }
  }
}
