@use '../styles/common/mixins.scss';

body {
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 16px;
}

#app {
  @include mixins.flex-center-center;
  @include mixins.w-h-100precent;

  padding: var(--pad-l);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.winter {
  background-image: image-set(
    url('/img/bg_winter.avif') type('image/avif'),
    url('/img/bg_winter.jpg') type('image/jpeg')
  );
}
.spring {
  background-image: image-set(
    url('/img/bg_spring.avif') type('image/avif'),
    url('/img/bg_spring.jpg') type('image/jpeg')
  );
}
.summer {
  background-image: image-set(
    url('/img/bg_summer.avif') type('image/avif'),
    url('/img/bg_summer.jpg') type('image/jpeg')
  );
}
.autumn {
  background-image: image-set(
    url('/img/bg_autumn.avif') type('image/avif'),
    url('/img/bg_autumn.jpg') type('image/jpeg')
  );
}

.container {
  position: relative;
  @include mixins.flex-column-spb;
  @include mixins.w-h-100precent;

  max-width: var(--desktop-max-width);
  max-height: var(--desktop-max-height);

  background: var(--color-app-bg);
  border: var(--border-app);
  border-radius: var(--br-l);
  padding-inline: var(--pad-l);

  overflow: hidden;
}

@media screen and (min-width: 577px) {
  body {
    min-height: var(--desktop-body-min-h);
  }
  #app {
    padding: var(--pad-s);
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
  #app {
    padding: var(--pad-s);
  }
  .container {
    padding-inline: var(--pad-m);
    min-width: var(--mobile-min-width);
    min-height: var(--mobile-min-height);
  }
}
