.header {
  padding-block: 15px;
  border-bottom: var(--border-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;

    h1 {
      font-weight: 700;
      font-size: 28px;
      color: var(--color-text-blue);
      text-shadow: 0 0 20px #fff;
    }
  }

  .tools-wrapper {
    position: relative;
    display: flex;

    .search-bar {
      $h-size: 40px;

      height: $h-size;
      width: $h-size;
      border-radius: $h-size;
    }

    .icon-location {
      position: absolute;
      top: 0;
      left: 0;
    }

    .settings-btn {
      margin-inline: 20px 10px;
      background: none;
    }
  }
}
