@use '../../styles/common/mixins.scss';

.tabs {
  min-height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  column-gap: 12px;
  overflow-x: scroll;
  scroll-behavior: smooth;

  margin: 0 -10px 6px -10px;
  padding: 10px 10px 8px 10px;

  @include mixins.scrollbar(horizontal, var(--scroll-main-size));

  &__day {
    width: 160px;
    min-width: 160px;
    height: 140px;
    padding: 10px 15px;
    background: var(--color-tab-bg);

    border-radius: 10px;
    color: var(--color-grey-dark);

    @include mixins.flex-column-spb;

    cursor: pointer;

    .dow {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 3px;
      text-transform: capitalize;
    }

    .date {
      font-size: 14px;
      color: var(--color-grey-medium);
    }

    .w-icon {
      margin-inline: auto;
    }

    .temp {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
    }
  }

  .active {
    background: none;
    border: var(--border-tab);
    box-shadow: none;
  }
}

@media (hover: hover) {
  .tabs {
    &__day {
      transition: var(--transition-duration);

      &:not(.active):hover {
        scale: 1.05;
        box-shadow: var(--shadow-tab);
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .tabs {
    mask-image: var(--mask-gradient);
  }
}

@media screen and (max-width: 576px) {
  .tabs {
    column-gap: 8px;

    &__day {
      min-width: 90px;
      height: 110px;
      padding: 8px 10px;

      .dow {
        font-size: 14px;
      }

      .date {
        font-size: 10px;
      }

      .w-icon {
        margin-inline: auto;
        width: 36px;
        height: 36px;
      }

      .temp {
        font-size: 16px;
      }
    }
  }
}
