.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__day {
    width: 160px;
    height: 140px;
    padding: 10px 15px;
    background: var(--color-tab-bg);
    box-shadow: 2px 4px 4px #00000040;

    border-radius: 10px;
    color: var(--color-grey-dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    .dow {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 3px;
      text-transform: capitalize;
    }

    .date {
      font-size: 14px;
      color: var(--color-grey-medium);
    }

    .w-icon {
      margin-inline: auto;
    }

    .temp {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
    }
  }

  .active {
    background: none;
    border: var(--border-tab);
    box-shadow: none;
  }
}

@media (hover: hover) {
  .tabs {
    &__day {
      transition: var(--transition-duration);

      &:not(.active):hover {
        scale: 1.05;
      }
    }
  }
}
