.settings-header {
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  color: var(--color-text-blue);
}

.toggle-wrapper {
  width: 80%;

  .note {
    display: block;
    margin: 6px 0 0 60px;
    color: var(--color-grey-medium);
  }
}

.hours-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;

  &__label {
    font-size: 20px;
  }

  &__list {
    list-style: none;
    $br-small: 10px;

    width: fit-content;
    height: 260px;
    overflow-y: auto;

    font-weight: 700;

    border-radius: $br-small;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 4px 2px #00000040;

    transition: height var(--transition-duration);

    &::-webkit-scrollbar {
      width: $br-small;

      &-track {
        background: #cecece;
        border-radius: 0 $br-small $br-small 0;
      }

      &-thumb {
        background: #056da0;
        border-radius: $br-small;
      }
    }

    li {
      position: relative;
      padding: 10px 80px 10px 110px;
      border-bottom: var(--border-grey);
      background-image: url('/src/assets/icons/check-empty.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 60px;
      text-align: right;

      cursor: pointer;
    }

    .selected {
      background-color: var(--color-btn-blue);
      background-image: url('/src/assets/icons/check-filled.svg');
      color: #fff;
    }
  }
}

.btn-wrapper {
  display: flex;
  column-gap: 20px;
}

.credits {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, auto);
  // column-gap: 20px;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin-bottom: -36px;

  border-top: var(--border-grey);
  color: var(--color-grey-medium);

  a,
  a:focus,
  a:visited {
    color: var(--color-grey-medium);
  }
}

@media (hover: hover) {
  .hours-edit {
    &__list {
      &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background: var(--color-text-blue);
      }

      .selected:hover {
        background-color: var(--color-btn-blue);
      }

      li:hover {
        background-color: #c8d2dc;
      }
    }
  }

  .credits {
    a {
      transition: all var(--transition-duration);

      &:hover {
        color: var(--color-btn-darkblue);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .settings-header {
    font-size: 20px;
  }

  .toggle-wrapper {
    width: 86%;

    .note {
      margin: 6px 0 0 50px;
    }
  }

  .hours-edit {
    row-gap: 10px;

    &__label {
      font-size: 14px;
    }

    &__list {
      height: 160px;

      li {
        font-size: 14px;
        padding: 10px 60px 10px 100px;
      }
    }
  }

  .btn-wrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  .credits {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;

    img {
      grid-row: 1 / span 2;
    }

    margin-bottom: -32px;
    padding: 10px 16px 10px 10px;
  }
}
