.modal {
  position: absolute;
  top: 81px;
  right: 0;
  width: 100%;
  height: calc(100% - 81px);
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;
  box-shadow: 0 20px 16px #0000004d;
  overflow: hidden;
}

.slide-enter-active,
.slide-leave-active {
  transition: height var(--transition-duration);
}

.slide-enter-from,
.slide-leave-to {
  height: 0;
}
