.weather-table {
  height: 100%;
  margin-block: 20px;
  display: flex;
  justify-content: space-between;

  .head-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .date-wrapper {
      font-size: 20px;
      font-weight: 500;
      color: var(--color-grey-medium);

      .dow {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .date,
      .time {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-left: 6px;
      }

      .date {
        margin-bottom: 8px;

        img {
          margin-top: -2px;
        }
      }
    }

    .table {
      font-size: 18px;
      color: var(--color-grey-dark);
      border-collapse: collapse;

      td {
        padding-block: 2px;
      }

      .param__name {
        padding-inline: 6px 16px;
      }
    }
  }

  .w-item {
    background: teal;
    width: 100px;
    height: 100%;
  }
}
