@use '../../styles/common/mixins.scss';

.weather-table {
  $scroll-h: var(--scroll-main-size);
  $first-el-w: 246px;
  $first-el-mar: 22px;
  $common-pb: var(--pad-m);

  height: 100%;
  margin-top: 20px;

  display: flex;

  .head-item {
    @include mixins.flex-column-spb;

    padding-bottom: 16px;

    height: 100%;
    min-width: $first-el-w;
    margin-right: $first-el-mar;

    .date-wrapper {
      font-size: 20px;
      font-weight: 500;
      color: var(--color-grey-medium);

      .dow {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .date,
      .time,
      .place {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-left: 6px;
      }

      .date,
      .place {
        margin-bottom: 8px;
      }

      .calendar-icon {
        margin-top: -2px;
      }
      .flag-icon {
        filter: grayscale(0.5);
        opacity: 0.6;
      }
    }

    .table {
      font-size: 18px;
      color: var(--color-grey-dark);
      border-collapse: collapse;

      td {
        padding-block: 2px;
      }

      .param__name {
        padding-inline: 6px 16px;
      }
    }
  }

  .w-wrapper {
    width: calc(100% - $first-el-w - $first-el-mar);
    display: flex;
    padding-bottom: $common-pb;
    overflow-x: scroll;
    scroll-behavior: smooth;

    @include mixins.scrollbar(horizontal, $scroll-h);

    .w-item {
      width: 140px;
      min-width: 140px;
      height: 100%;
      color: var(--color-grey-dark);
      padding: 6px 10px 0;
      border-radius: var(--br-l);
      background-image: linear-gradient(
        180deg,
        var(--color-tr) 0%,
        var(--color-tab-bg) 25%,
        var(--color-tab-bg) 50%,
        var(--color-tr) 100%
      );

      @include mixins.flex-column-spb;
      margin-right: 18px;

      &:last-of-type {
        margin-right: 0;
      }

      &-top {
        width: 100%;

        &__hour {
          font-size: 20px;
          text-align: center;
          font-weight: 500;
          color: var(--color-grey-light);
        }

        &__icon {
          display: block;
          margin: 20px auto 10px;
          width: 100px;
          height: 100px;
        }

        &__temp {
          font-size: 32px;
          text-align: center;
          font-weight: 700;
          color: var(--color-grey-medium);
          margin-bottom: 20px;
        }

        &__desc {
          text-align: center;
          line-height: 1.2;
        }
      }

      &__list {
        list-style: none;
        font-size: 18px;
        text-align: center;
        li {
          padding: 3px 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .w-wrapper {
    mask-image: var(--mask-gradient);
  }
}
