.weather-table {
  $scroll-h: 6px;
  $first-w: 246px;
  $first-mr: 22px;
  $common-pb: 10px;

  height: 100%;
  margin-top: 20px;
  padding-bottom: $common-pb;
  display: flex;

  .head-item {
    padding-bottom: $scroll-h;

    height: 100%;
    min-width: $first-w;
    margin-right: $first-mr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .date-wrapper {
      font-size: 20px;
      font-weight: 500;
      color: var(--color-grey-medium);

      .dow {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .date,
      .time,
      .place {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-left: 6px;
      }

      .date,
      .place {
        margin-bottom: 8px;
      }

      .calendar-icon {
        margin-top: -2px;
      }
      .flag-icon {
        filter: grayscale(0.5);
        opacity: 0.6;
      }
    }

    .table {
      font-size: 18px;
      color: var(--color-grey-dark);
      border-collapse: collapse;

      td {
        padding-block: 2px;
      }

      .param__name {
        padding-inline: 6px 16px;
      }
    }
  }

  .w-wrapper {
    width: calc(100% - $first-w - $first-mr);
    display: flex;
    margin-bottom: -$common-pb;
    padding-bottom: $common-pb;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: $scroll-h;

      &-track {
        background: #0000;
        border-radius: $scroll-h;
      }

      &-thumb {
        background: var(--color-tab-bg);
        border-radius: $scroll-h;
      }
    }

    .w-item {
      width: 140px;
      min-width: 140px;
      height: 100%;
      color: var(--color-grey-dark);
      padding: 6px 10px 0;
      border-radius: 20px;
      background-image: linear-gradient(
        180deg,
        #0000 0%,
        var(--color-tab-bg) 25%,
        var(--color-tab-bg) 50%,
        #0000 100%
      );

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-right: 18px;

      &:last-of-type {
        margin-right: 0;
      }

      &-top {
        width: 100%;

        &__hour {
          font-size: 20px;
          text-align: center;
          font-weight: 500;
          color: var(--color-grey-light);
        }

        &__icon {
          display: block;
          margin: 20px auto 10px;
          width: 100px;
          height: 100px;
        }

        &__temp {
          font-size: 32px;
          text-align: center;
          font-weight: 700;
          color: var(--color-grey-medium);
          margin-bottom: 20px;
        }

        &__desc {
          text-align: center;
          line-height: 1.2;
        }
      }

      &__list {
        list-style: none;
        font-size: 18px;
        text-align: center;
        li {
          padding: 3px 16px;
        }
      }
    }
  }
}

@media (hover: hover) {
  .w-wrapper {
    &::-webkit-scrollbar-thumb:hover {
      background: #fff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1279px) {
  .w-wrapper {
    mask-image: var(--mask-gradient);
  }
}
