@use '../../styles/common/mixins.scss';

.preloader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: var(--color-text-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    margin-bottom: 10px;
  }

  .spinner {
    @include mixins.spinner(240px, #fff);
  }
}

.vanish-enter-active,
.vanish-leave-active {
  transition: all var(--transition-duration);
  opacity: 1;
}

.vanish-enter-from,
.vanish-leave-to {
  transform: scale(1.2);
  opacity: 0;
}
