.modal {
  $head-h: 81px;

  position: absolute;
  top: $head-h;
  right: 0;
  width: 100%;
  height: calc(100% - $head-h);
  padding: 30px 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;

  background: #fff;
  box-shadow: 0 20px 16px #0000004d;
  overflow: hidden;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform var(--transition-duration);
  transform-origin: top;
  transform: rotateX(0deg);
}

.slide-enter-from,
.slide-leave-to {
  transform: rotateX(90deg);
}

@media screen and (max-width: 576px) {
  .modal {
    $head-h: 61px;

    top: $head-h;
    height: calc(100% - $head-h);
    padding: 20px 0 30px;
  }
}
