.modal-btn {
  min-width: 150px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  background-color: var(--color-btn-blue);
  transition: var(--transition-duration);
}

.disabled {
  pointer-events: none;
  color: var(--color-grey-medium);
  background-color: var(--color-grey-light);
}

@media (hover: hover) {
  .modal-btn:hover {
    background-color: var(--color-btn-darkblue);
  }
}

@media screen and (max-width: 576px) {
  .modal-btn {
    min-width: 120px;
    font-size: 14px;
  }
}
